/* Add CSS Styling */

.odd {
   background-color:  pink;
   font-style: 'Verdana' 'DejaVu Sans''sans-serif';
}

.font-size{
font-size: 24px;
}

#two    {
color:blue;
font-size: 36px;
}

#four {
background-color: lightgreen;
}